<ul class="navbar">
  <li class="navbar-brand" >
    <a href="/">colton brown</a>
  </li>
  <span class="nav-right">
    <li class="navbar-link">
      <a href="/">home</a>
    </li>
    <li class="navbar-link">
      <a href="/projects">projects</a>
    </li>
    <li class="navbar-link">
      <a href="/resume">resume</a>
    </li>
    <li class="navbar-link">
      <a href="/blog">blog</a>
    </li>
  </span>
</ul>