em{
  font-style: normal;
  font-weight: 100;
}

a{
  text-decoration: none;
  /*font-weight: 300;*/
  color: black;
}

a:hover{
  text-decoration: underline;
}

strong{
  font-weight: 500;
}

p{
  margin: 0.15em 0;
  line-height: 1.5em;
}

h1{
  font-weight: 500;
  font-size: 2.2em;
  margin-top: 40px;
}

h2{
  margin: 1.2em 0 0.6em 0;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1em;
}

h3{
  font-weight: 300;
  font-size: 1.3em;
  margin: 1em 0 1em 0;
}

h4{
  font-weight: 600;
  font-size: 1.2em;
  margin: 1em 0 0.1em 0;
}
h4>a{
  font-weight: 600;
}

ol{
  margin: 0.6em 0;
  list-style: none;
  padding: 0 0 0 1.4em;
  font-weight: 300;
  letter-spacing: 0.06em;
}

li {
  margin: 0.3em 0;
}

ol li{
  position: relative;
}

ol li:before{
  content: '>';
  color: gray;
  position: absolute;
  left: -1.1em;
  top: 0.2em;
  font-family: monospace;
  font-size: 1.1em;
}