em{
  font-style: normal;
  font-weight: 100;
}

a{
  color: black;
}

a:hover{
  text-decoration: underline;
  color: #666;
}

h1 a, h2 a, h3 a, h4 a{
  text-decoration: none;
}

strong{
  font-weight: 600;
}

p{
  margin: 1em 0;
  line-height: 1.5em;
}

h1{
  font-weight: 500;
  font-size: 2.2em;
  margin-top: 40px;
}

h2{
  margin: 1.2em 0 0.6em 0;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1em;
}

h3{
  font-weight: 300;
  font-size: 1.3em;
  margin: 1em 0 1em 0;
}

h4{
  font-weight: 600;
  font-size: 1.2em;
  margin: 1em 0 0.1em 0;
}
h4>a{
  font-weight: 600;
}

:not(pre) > pre[class*="language-"], 
pre > code[class*="language-"], pre{
  background: #fafafa;
  margin: 1em 0;
  border-radius: 3px;
}

pre{
  overflow: auto;
  padding: 1em;
}

:not(pre) > code{
  font-size: 1.1em;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: #fafafa;
}

ol, ul{
  margin: 0.6em 0;
  padding: 0 0 0 1.4em;
  font-weight: 300;
  letter-spacing: 0.06em;
}

ul{
  list-style: none;
}

li {
  margin: 0.3em 0;
}

ul li{
  position: relative;
}

ul li:before{
  content: '>';
  color: gray;
  position: absolute;
  left: -1.1em;
  top: 0.2em;
  font-family: monospace;
  font-size: 1.1em;
}