body{
  background: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
}

#bg-canvas{
  z-index: -1000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
}

.container{
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  padding: 0px 85px 0 85px;
  min-height: 650px;
}

.footer{
  border-top: 2px solid #DDD;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 0;
  text-align: center;
  color: #bbb;
  font-weight: 100;
}

.content{
  position: relative;
  max-width: 540px;
  padding-right: 20px;
}

.project-pg-header{
  padding-bottom: 25px;
  padding-top: 8px;
  border-bottom: 1px solid #ddd;
}
.project-pg-header a{
  text-decoration: none;
}

.project-pg-header .name{
  font-family: 'Oswald';
  background: black;
  color: #ddd;
  letter-spacing: 6px;
  padding-left: 14px;
  padding-right: 10px;
}
.project-pg-header .name:hover{
  text-decoration: none;
}
.project-pg-header .projects{
  float: right;
}
.project-pg-header .projects a{
  font-size: 1.1em;
}
.project-pg-header .projects .project-name{
  font-weight: 100;
}

.project-pg-nav{
  padding: 10px 0;
  font-weight: 100;
}
.project-pg-nav a{
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
}

blockquote{
  margin: 0;
}

ul.navbar{
  padding: 75px 0 130px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #BBB;
}

ul.navbar li:before{
  display: none;
}

ul.navbar .nav-right{
  float: right;
}

ul.navbar li.navbar-brand{
  font-size: 29px;
  float: left;
  list-style: none;
  margin: 0;
}

ul.navbar li.navbar-brand a{
  font-family: 'Oswald';
  color: #ddd;
  letter-spacing: 20px;
  background: black;
  padding-left: 12px;
  width: 435px;
  height: 43px;
  display: inline-block;
  box-sizing: border-box;
}

@media(max-width: 860px){
  ul.navbar .nav-right{
    float: left;
    margin-left: 210px;
  }
  .container{
    width: 435px;
  }
  .
}

ul.navbar li.navbar-link{
  display: inline;
  float: left;
  margin: 0;
  margin-left: 30px;
}

ul.navbar li.navbar-link:first-child{
  margin-left: 0; 
}

ul.navbar li.navbar-link a{
  line-height:  29px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 12px 0;
  border-bottom: 2px solid transparent;
}

ul.navbar a{
  text-decoration: none;
}

ul.navbar li.navbar-link a:hover{
  border-color: #777;
}

.header h1{
  display: inline-block;
  margin: 0;
}

.header h1 span{
  font-weight: 100;
}

.header .download a{
  color: #888;
  font-weight: 100;
  margin: 0 2px;
  text-decoration: none;
}

.header .download a:hover{
  color: black;
  text-decoration: none;
}

.header .download{
  margin-right: 15px;
  height: 0;
  position: relative;
  font-size: 0.8em;
  color: #888;
  float: right;
  z-index: 100;
}

.header .download:after{
  content: '';
  width: 18px;
  height: 8px;
  display: block;
  position: absolute;
  right: -15px;
  top: 5px;
  background-image: url('images/download.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.home p a img{
  height: 15px;
  margin-right: 15px;
}

.home.content{
  text-shadow: 0px 0px 3px white;
}

.resume p, .projects p{
  margin: 0.15em 0;
}

.resume:not(.raw) h1#colton-t-brown{
  display: none;
}

.resume:not(.raw) h1#colton-t-brown + p{
  display: none;
}

.resume h4 a{
  position: relative;
}

.resume h4 a:hover{
  text-decoration: underline;
}

.resume h4 a:after, .projects h2 a:after{
  content: '';
  width: 18px;
  height: 10px;
  display: block;
  position: absolute;
  right: -17px;
  top: 9px;
  background-image: url('images/link.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}

.projects.content h2{
  margin: 1.4em 0 0em 0;
  display: inline-block;
  position: relative;
}