body{
  background: #FFF
}

*{
  font-family: 'Source Sans Pro', sans-serif
}

a{
  text-decoration: none;
  color: black;
}

h1,h2,h3{
  margin-top: 0;
}

.container{
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 85px 0 85px
}

.content{
  margin-top: 80px;
}

.navbar{
  padding: 75px 0 130px 0;
  text-transform: uppercase;
  border-bottom: 2px solid #DDD;
}
.navbar .nav-right{
  float: right;
}

ul.navbar li.navbar-brand{
  font-size: 29px;
  float: left;
  list-style: none;
}

ul.navbar li.navbar-brand a{
  font-family: 'Oswald';
  color: #263333;
}

ul.navbar li.navbar-link{
  display: inline;
  float: left;
  margin-left: 30px;
}

ul.navbar li.navbar-link:first-child{
  margin-left: 0; 
}

ul.navbar li.navbar-link a{
  line-height:  29px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 12px 0;
  border-bottom: 2px solid transparent;
}

ul.navbar li.navbar-link a.selected{
  border-color: #DDD;
}

ul.navbar li.navbar-link a:hover{
  border-color: #777;
}

.coming-soon{
  font-size: 30px;
  text-align: center;
  padding-top: 80px;
}

.image-left{
  float: left;
  width: 30%;
  height: 350px;
  background-image: url("http://i.imgur.com/ZqmUCOg.jpg");
  background-size: cover;
}

.image-left img{
  width: 100%
}

.content-right{
  float: right;
  width:  69%;
  padding: 0 50px;
  box-sizing: border-box;
}

.content-right h1{
  text-transform: uppercase;
  font-weight: 100;
}