<div class="resume">
  <div class="header">
    <span class="download">
      <a target="_blank" href="/dl/resume.html">html</a> |
      <a target="_blank" href="/dl/resume.md">md</a> |
      <a target="_blank" href="/dl/resume.pdf">pdf</a>
    </span>
  </div>

  <div class="content">
    {{{content}}}
  </div>
</div>