<div class="resume">
  <div class="header">
    {{!-- <h1>Resume</h1> --}}
    <span class="download">
      <a href="#">md</a> |
      <a href="#">pdf</a>
    </span>
  </div>

  <div class="content">
    {{{content}}}
  </div>
</div>