<ul class="navbar">
  <li class="navbar-brand" >
    <a href="/">colton brown</a>
  </li>
  <span class="nav-right">
    <li class="navbar-link home">
      <a href="/" class={{selected ''}}>home</a>
    </li>
    <li class="navbar-link projects">
      <a href="/projects" class={{selected 'projects'}}>projects</a>
    </li>
    <li class="navbar-link resume">
      <a href="/resume" class={{selected 'resume'}}>resumé</a>
    </li>
{{!--     <li class="navbar-link">
      <a href="/blog" class={{selected 'blog'}}>blog</a>
    </li> --}}
  </span>
</ul>