<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Colton Brown</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/normal.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <style>
    .pdf-only{display: none;}
    .site-only{display: initial;}
  </style>

  <script type="text/javascript">
    function randOct(){
      return Math.floor(Math.random()*256);
    };
    function randColor(){
      return 'rgb('+randOct()+','+randOct()+','+randOct()+')';
    };
  </script>

</head>
<body>

  <canvas id="bg-canvas" width="500" height="500"></canvas>
 
  <div class="container">
    {{>navbar}}
    {{{body}}}

    <div class="footer">
      &copy; 2015 Colton Brown
    </div>

  </div>

  <script type="text/javascript">
    var selected = document.getElementsByClassName('nav-link-selected');
    Array.prototype.forEach.call(selected, function(el){
      el.setAttribute('style', 'border-color:'+randColor());
    });
  </script>

</body>
</html>