<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/font/index.css">
    <link rel="stylesheet" type="text/css" href="/normal.css">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <style type="text/css">

      body{
        font-size: 0.65em;
        max-width: 500px;
      }

      blockquote{
        display: none;
      }

      h1{
        margin: 0;
      }

      h2{
        margin: 1em 0 0.4em 0;
      }

      h4{
        margin: 0.5em 0 0 0;
      }

    </style>
</head>
<body>
  
  <h1>Colton T. Brown</h1>
  <span>
    <em>gmail: </em>0xcolton
  </span>
  &nbsp;
  <span>
    <em>github: </em>coltonTB
  </span>
  &nbsp;
  <span>
    <em>web: </em>coltontbrown.com
  </span>
  {{{content}}} 
</body>
</html>